<div class="tab-list-container d-flex ">
    .
    <div class="carousel-control-prev-icon cursor-pointer h-100 d-flex align-items-center" (click)="scrollLeft()">
    </div>
    <div class="option-container d-flex" #scrollContainer *ngIf="gameContentList && selectedItem">
        <div class="label-container d-flex flex-column" *ngFor="let item of gameContentList; let index=index"
            (click)="selectedItem=item;selectedIndex=index" [class.active]="selectedItem.id ===item.id ">
            <div class="background-image icons" [ngStyle]="{'background-image': 'url('+item.iconUrl+')'}"></div>
            <div class="title">{{item.title}} {{index+1}} </div>
        </div>
    </div>
    <div class="carousel-control-next-icon cursor-pointer h-100 d-flex align-items-center " (click)="scrollRight()">
    </div>
</div>
<div class="search-bar-container ">
    <div class="search-box d-flex align-items-center">
        <input type="text" [(ngModel)]="searchText" mat-input placeholder="Search games">
        <mat-icon class="search-icon" (click)="setSearchTerm(searchText)">search</mat-icon>
    </div>
    <div class="filter-container ">
        <div class="filter-list">
            <mat-form-field appearance="fill">
                <mat-label>Providers </mat-label>
                <mat-select (selectionChange)="setSearchTerm($event.value)">
                    <mat-option *ngFor="let item of providers" [value]="item.viewValue">
                        {{item.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="filter-list">
            <mat-form-field appearance="fill">
                <mat-label>Game Theme </mat-label>
                <mat-select (selectionChange)="setSearchTerm($event.value)">
                    <mat-option *ngFor="let item of gameTheme" [value]="item.viewValue">
                        {{item.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="filter-list">
            <mat-form-field appearance="fill">
                <mat-label>Sort by </mat-label>
                <mat-select (selectionChange)="setSearchTerm($event.value)">
                    <mat-option *ngFor="let item of sortby" [value]="item.viewValue">
                        {{item.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
<app-game-result [searchText]="searchText"  [selectedIndex]="selectedIndex">
</app-game-result>