@import "../login/login.component.scss";

.login-popup-container {
    height: 100%;
    grid-template-columns: 1fr;
}

.login-popup-container-content-form {
    .form-group {
        margin-bottom: 25px;
    }

    .button-container {
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 50px;

        button {
            width: max-content;
            margin: 0px !important;
        }
    }
}



@media screen and (max-width: 768px) {
    .login-popup-container {
        .login-popup-container-content {
            /* height: 579px; */
            height: max-content;
        }


    }
}

@media screen and (max-width: 426px) {
    .login-popup-container-content-title {
        h3 {
            font-size: 1.5rem;
            margin: 0px;
        }
    }

    .login-popup-container {
        .button-container {
            gap: 30px;
            flex-direction: column;

            button {
                width: 100%;
            }
        }
    }
}