.header-height {
    height: 60px;

}

@media screen and (max-width: 930px) {
    .header-height {
        height: 60px;
    }
}

.header-conatiner {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 20px;
    grid-template-rows: auto;
    align-items: center;
    @extend .header-height;
    background-color: var(--background-color-light);

    .menu-icon {
        display: none;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    width: 15%;

    // margin-left: 5%;
    .mat-button {
        min-width: unset;
    }

    a {
        place-self: center;
        margin: 10px;

        &:hover {
            background-color: var(--background-color-secondary);
        }

        &:hover,
        &.active {
            color: #df6a2e;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

::ng-deep .account-container {
    width: 100%;
    $var: var(--background-color);
    position: relative;
    background-color: var(--background-color-dark);
    padding-left: 30px;
    align-content: center;
    align-items: center;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: flex-end;
    justify-items: end;
    column-gap: 10px;

    .account-nmbr {
        width: 250px;
        height: 100%;
        // padding: 0px 10px;
    }

    .avatar {
        display: none;
        width: 40px;
        @extend .header-height;
    }

    .balance {
        display: none;
    }

    &.not-logged {
        background-color: inherit;
        grid-template-columns: repeat(2, 1fr);
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -1px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0px 0 80px 25px;
        border-color: transparent transparent #262626 transparent;
        transform: rotate(180deg);
    }


    &.white-theme {
        .circle {
            background-color: #fff;
        }

        &::after {
            border-color: transparent transparent #dadada transparent;
        }
    }
}

.bg-orange {
    position: relative;

    &:hover {
        background-color: #df6a2e;
    }
}

.has-before {
    width: 74px;
    background-color: var(--background-color-secondary);

    &:hover {
        background-color: var(--background-color);

        &::before {
            border-color: transparent transparent var(--background-color) transparent;
        }
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 10px;
        right: 84px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0px 0 44px 7px;
        border-color: transparent transparent var(--background-color-secondary) transparent;

        &:hover {
            background-color: var(--background-color-secondary);
        }
    }
}

.slanted-black-line {
    position: absolute;
    bottom: 10px;
    left: 160px;
    width: 4px;
    height: 44px;
    background-color: var(--background-color-dark);
    transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -webkit-transform: skew(-10deg);
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--background-color-secondary);
    position: absolute;
    top: 4px;
    right: 4px;

    &.flag {
        padding: 0.2rem;
        left: 0.8rem;
        background: none;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(/assets/images/flag.png);

    }
}

.span-text {
    margin-left: 0.8rem;
}

.btn-container {
    button {
        border: 1px solid var(--text-color);
        border-radius: 15px;
        margin-right: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        line-height: 25px;
    }
}

.server-time {
    top: -20px;
    left: 20px;
    width: max-content;
    font-size: 10px;
    color: var(--background-color-primary);
}

.plus {
    font-size: 45px;
    font-weight: bold;
    position: absolute;
    left: -6px;
    bottom: 0px;
    z-index: 1;
    cursor: pointer;
}

.outsid-arrow {
    background-color: #df6a2e;
    height: 100%;
    display: flex;
    color: black;
    align-items: center;
}

.outsid-arrow-up {
    background-color: #df6a2e;
    height: 80%;
    display: flex;
    color: black;
    align-items: right;
    width: 1%;
    float: right;
    z-index: 2;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    grid-auto-rows: auto;

    button {
        border: 1px solid var(--orange-background-color);
        color: var(--text-color);
        background-color: var(--orange-background-color);
        border-radius: 0px;
        height: 30px;
        width: fit-content;

        &.register {
            background-color: var(--background-color);
            color: var(--orange-background-color);

            &:hover {
                background-color: var(--orange-background-color);
                color: var(--text-color);
            }
        }
    }
}

::ng-deep .mat-dialog-container {
    padding: 0px !important;
    overflow-x: hidden;
}

.hide-show {
    cursor: pointer;
}

.game-img {
    @extend .header-height;
    background-size: contain;
    background-color: #1E1E1E;
}

@media (max-width: 1095px) {

    nav,
    .mode {
        display: none;
    }

    .header-conatiner {
        grid-template-columns: 1fr 2fr 60px;

        .menu-icon {
            display: block;
            height: 60px;
            cursor: pointer;
        }
    }

    .header-toggle {
        display: none;
    }


    ::ng-deep .account-container {
        padding-left: 0px;
        background-color: #1E1E1E;

        .avatar-container {
            grid-column: span 3;
            align-items: center;
        }

        &.not-logged {
            grid-template-columns:  1fr;
        }

        .balance {
            display: block;
            font-size: 12px;
            grid-column: span 2;
            padding: 0px 10px;

            .balance-amount {
                font-size: 16px;
                color: #FFC224;
            }
        }

        .avatar {
            display: block;
            background-size: contain;
        }

        div {
            &.account-nmbr {
                display: none !important;
            }
        }

        &::after {
            content: none;
        }
    }

}

.currency-icon {
    width: 70px;
}

@media screen and (max-width: 405px) {
    .currency-icon {
        width: 80px;
    }

    .game-img {
        &.logged {
            background-image: none !important;
            background: #1E1E1E;
        }
    }
}