<div class="login-popup-container position-relative">
    <mat-icon class="close-btn position-absolute cursor-pointer" (click)="dialogRef.close()"> close</mat-icon>
    <div class="image-conatiner background-image"
        [ngStyle]="{'background-image': 'url(../../assets/images/games/login.png)'}">
    </div>
    <div class="login-popup-container-content position-relative d-flex flex-column">
        <div class="login-popup-container-content-title">
            <h3>Sign Up</h3>
        </div>
        <div class="caption">
            <!-- <div class="color-primary">Welcome back</div> -->
            <b class="text-center">Sign Up Now, It's easy </b>
        </div>
        <form #form="ngForm" [formGroup]="registerForm">
            <div class="login-popup-container-content-form pt-3">
                <div class="column-container  justify-content-between ">
                    <div class="first-column pr-3">
                        <div class="form-group">
                            <label for="">Username</label>
                            <input class="form-control input-class" formControlName="username" id=""
                                placeholder="Enter your Username">
                            <span class="text-danger"
                                *ngIf="(registerForm.controls['username'].touched || submitted) && registerForm.controls['username'].errors?.['required']">
                                *Name is required</span>
                        </div>
                        <div class="form-group">
                            <label for="">Password</label>
                            <input type="password" class="form-control input-class" formControlName="password" id=""
                                placeholder="Enter your Password">
                            <span class="text-danger"
                                *ngIf="(registerForm.controls['password'].touched || submitted) && registerForm.controls['password'].errors?.['required']">
                                *Password is required</span>
                        </div>
                        <div class="form-group">
                            <label for="">Confirm Password</label>
                            <input type="password" class="form-control input-class" formControlName="confirmPassword"
                                id="" placeholder="Enter your Password again">
                            <span class="text-danger"
                                *ngIf="(registerForm.controls['confirmPassword'].touched || submitted) && (registerForm.controls['confirmPassword'].errors?.['required']|| registerForm.controls['confirmPassword'].errors?.['mismatch'])">
                                {{ registerForm.controls['confirmPassword'].errors?.['mismatch']
                                ? "*Passwords did not match":
                                "*Password is required"}}</span>
                        </div>
                    </div>
                    <div class="second-column">

                        <div class="form-group">
                            <label for="">Email</label>
                            <input class="form-control input-class" formControlName="email" id=""
                                placeholder="example@gmail.com">
                            <span class="text-danger"
                                *ngIf="(registerForm.controls['email'].touched || submitted) && 
                                (registerForm.controls['email'].errors?.['required'] ||registerForm.controls['email'].errors?.['email'])">
                                {{ registerForm.controls['email'].errors?.['email'] ? "Invalid Email "
                                : "*Email is required" }}
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="">Country</label>
                            <input class="form-control input-class" formControlName="country" id=""
                                placeholder="Enter your Country">
                        </div>
                        <div class="form-group">
                            <label for="">Promocode</label>
                            <input class="form-control input-class" formControlName="promoCode" id=""
                                placeholder="abc123">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <form action="">
                            <input type="checkbox" name="terms" [(ngModel)]="terms" class="form-check-input" id="">
                        </form>
                        <label class="form-check-label check-box-title" for="">
                            By clicking Play Now,you are indicating that you have read and acknowledge the <a
                                class="font-weight-bold">Terms & Conditions</a>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button mat-button class="mr-5" [disabled]="registerForm.invalid|| !terms ">Sign Up</button>
                </div>
                <div class="form-group create-account-container position-absolute">
                    <div class="create-account">
                        <div class="pb-2 text-center">Already have an account? <a (click)="logIn()">Log In Now </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="position-absolute text-center color-secondary declaration">
            <small>This site is protected by hCaptcha and the hCaptcha <br>
                Privacy Policy and Terms of Service apply.</small>
        </div>
    </div>