<div class="login-popup-container position-relative">
    <mat-icon class="close-btn position-absolute cursor-pointer" (click)="dialogRef.close()"> close</mat-icon>
    <div class="image-conatiner background-image"
        [ngStyle]="{'background-image': 'url(../../assets/images/games/login.png)'}">
    </div>
    <div class="login-popup-container-content position-relative d-flex flex-column">
        <div class="login-popup-container-content-title">
            <h3>Sign Up</h3>
        </div>
        <div class="caption">
            <!-- <div class="color-primary">Welcome back</div> -->
            <b class="text-center">Sign Up Now, It's easy </b>
        </div>
        <form #form="ngForm">
            <div class="login-popup-container-content-form pt-3">
                <div class="column-container  justify-content-between ">
                    <div class="first-column pr-3">
                        <div class="form-group">
                            <label for="">Username</label>
                            <input class="form-control input-class" id="" placeholder="Enter your Username">
                        </div>
                        <div class="form-group">
                            <label for="">Password</label>
                            <input class="form-control input-class" id="" placeholder="Enter your Password">
                        </div>
                        <div class="form-group">
                            <label for="">Confirm Password</label>
                            <input class="form-control input-class" id="" placeholder="Enter your Password again">
                        </div>
                    </div>
                    <div class="second-column">

                        <div class="form-group">
                            <label for="">Email</label>
                            <input class="form-control input-class" id="" placeholder="example@gmail.com">
                        </div>
                        <div class="form-group">
                            <label for="">Country</label>
                            <input class="form-control input-class" id="" placeholder="Enter your Country">
                        </div>
                        <div class="form-group">
                            <label for="">Promocode</label>
                            <input class="form-control input-class" id="" placeholder="abc123">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="">
                        <label class="form-check-label check-box-title" for="">
                            By clicking Play Now,you are indicating that you have read and acknowledge the <a
                                class="font-weight-bold">Terms & Conditions</a>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button mat-button class="mr-5">Sign Up</button>
                </div>
                <div class="form-group create-account-container position-absolute">
                    <div class="create-account">
                        <div class="pb-2 text-center">Already have an account? <a>Log In Now </a></div>
                    </div>
                </div>
            </div>
        </form>
        <div class="position-absolute text-center color-secondary declaration">
            <small>This site is protected by hCaptcha and the hCaptcha <br>
                Privacy Policy and Terms of Service apply.</small>
        </div>
    </div>